# Compiled
*.elc

# Packaging
.cask

# Backup files
*~
/#!*.*#

# Undo-tree save-files
*.~undo-tree

# restoring state
places
history
savehist
recentf
.emacs.desktop
.emacs.desktop.lock
.dap-breakpoints

# package manager straight.el folder
straight/
elpa/

# lsp
.lsp-session-v*
.cache/lsp/

# other
smex-items
.cache/treemacs-persist
semanticdb/
transient/
.DS_Store

projectile-bookmarks.eld
projects
