# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# restoring state
places
history
savehist
recentf

# package manager straight.el folder
straight/

# lsp
.lsp-session-v*
